In [2]:
# esercizio 2
# cvs amazon
import pandas as pd
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\amazon.csv")
df.head()

                                          reviewText  Positive
0  This is a one of the best apps acording to a b...         1
1  This is a pretty good version of the game for ...         1
2  this is a really cool game. there are a bunch ...         1
3  This is a silly game and can be frustrating, b...         1
4  This is a terrific game on any pad. Hrs of fun...         1

In [3]:
print(df.shape) # n. righe e colonne estratte
df.dtypes #datatype per ogni colonna
# nel dataset ci sono 20000 righe e 2 colonne

(20000, 2)

reviewText    object
Positive       int64
dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reviewText  20000 non-null  object
 1   Positive    20000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 312.6+ KB

In [12]:
print(df.sample(10))

                                              reviewText  Positive
125    Angry birds is so boring all you do is knock d...         0
5099   always nice to be able to access this feature ...         1
17295  Oh my gosh, I was scared.The reviews said that...         1
13498  The game is cute reminds me of diner dash but ...         1
3374   Berfore the update I could ha e tracked the ma...         1
17983  The Best way to study the original language. A...         1
2849   this is the best app ever!!!!!! I love it sooo...         1
3575   Downloaded it, played for 5 minutes and then i...         0
15036  Easy to scan, simple to use, can even scan fro...         1
274    good fun for whole family, keeps you on your t...         1

In [14]:
conteggio = df["Positive"].value_counts()
print(conteggio)
# è sbilanciato

Positive
1    15233
0     4767
Name: count, dtype: int64

In [2]:
# esercio 3
# insurance
import pandas as pd
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\insurance\insurance.csv")
df.head() # prime 5 righe

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
print(df.shape) # n. righe e colonne estratte
df.dtypes #datatype per ogni colonna

(1338, 7)

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [31]:
print(df.columns)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [33]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [34]:
# descrittori generali di BMI
print(df["bmi"].describe())

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [7]:
# per non usaee groupby

print(df["region"].unique())
df.loc[df['region']=='southeast', 'charges'].mean()
df.loc[df['region']=='southwest', 'charges'].mean()
df.loc[df['region']=='northeast', 'charges'].mean()
df.loc[df['region']=='northwest', 'charges'].mean()


print(df["smoker"].unique())
df.loc[df['smoker']=='yes', 'charges'].mean()
df.loc[df['smoker']=='no', 'charges'].mean()

print(df["sex"].unique())
df.loc[df['sex']=='female', 'charges'].mean()
df.loc[df['sex']=='male', 'charges'].mean()


# quartili
quartili = pd.qcut(df['bmi'], 4)   # divide in 4 quartili
for q in quartili.unique():
    subset = df[quartili == q]
    print(f"{q}: min={subset['charges'].min()}, mean={subset['charges'].mean()}, max={subset['charges'].max()}")


# oppure
for reg in df['region'].unique():
    subset = df[df['region'] == reg]      # filtro per regione
    media = subset['charges'].mean()      # calcolo media
    print(f"{reg}: {media}")
    
for s in df['smoker'].unique():
    subset = df[df['smoker'] == s]
    print(f"{s}: {subset['charges'].mean()}")

for sex in df['sex'].unique():
    subset = df[df['sex'] == sex]
    print(f"{sex}: {subset['charges'].mean()}")

['southwest' 'southeast' 'northwest' 'northeast']

12417.57537396923

In [5]:
# esercio 4
import pandas as pd
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\diabetes.csv")
df.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
print(df.shape) # n. righe e colonne estratte
df.dtypes #datatype per ogni colonna

(768, 9)

Number of times pregnant                                                      int64
Plasma glucose concentration a 2 hours in an oral glucose tolerance test      int64
Diastolic blood pressure (mm Hg)                                              int64
Triceps skin fold thickness (mm)                                              int64
2-Hour serum insulin (mu U/ml)                                                int64
Body mass index (weight in kg/(height in m)^2)                              float64
Diabetes pedigree function                                                  float64
Age (years)                                                                   int64
Class variable                                                                int64
dtype: object

In [48]:
df.info()
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')

In [49]:
df.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
conteggio = df["Age (years)"].value_counts()
print(conteggio)

Age (years)
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
46    13
43    13
40    13
39    12
35    10
50     8
51     8
52     8
44     8
58     7
47     6
54     6
49     5
48     5
57     5
53     5
60     5
66     4
63     4
62     4
55     4
67     3
56     3
59     3
65     3
69     2
61     2
72     1
81     1
64     1
70     1
68     1
Name: count, dtype: int64

In [8]:
#Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50;
fascia_20_29 = df[(df["Age (years)"] >= 20) & (df["Age (years)"]<= 29)]
fascia_30_39 = df[(df["Age (years)"] >= 30) & (df["Age (years)"]<= 39)]
fascia_40_50 = df[(df["Age (years)"] >= 40) & (df["Age (years)"]<= 50)]

In [9]:
#Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
print(fascia_20_29["Diastolic blood pressure (mm Hg)"].mean())
print(fascia_30_39["Diastolic blood pressure (mm Hg)"].mean())
print(fascia_40_50["Diastolic blood pressure (mm Hg)"].mean())

65.34848484848484
69.66666666666667
74.21428571428571

In [10]:
# esercizio 5
import pandas as pd
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [55]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [56]:
print(df.shape)
df.dtypes

(800, 13)

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [11]:
# vediamo che l'indice del dataset e quelo assegnato da Pandas non combaciano
df.set_index("#", inplace=True)
print(df.head())

                    Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison    318  45      49       49       65
2                Ivysaur  Grass  Poison    405  60      62       63       80
3               Venusaur  Grass  Poison    525  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123      122
4             Charmander   Fire     NaN    309  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [61]:
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [68]:
# nomi unici dei leggendari
# seleziono solo i leggendari e prendo i nomi unici
nomi_leggendari = df.loc[df["Legendary"], "Name"].unique()
print(nomi_leggendari)

['Articuno' 'Zapdos' 'Moltres' 'Mewtwo' 'MewtwoMega Mewtwo X'
 'MewtwoMega Mewtwo Y' 'Raikou' 'Entei' 'Suicune' 'Lugia' 'Ho-oh'
 'Regirock' 'Regice' 'Registeel' 'Latias' 'LatiasMega Latias' 'Latios'
 'LatiosMega Latios' 'Kyogre' 'KyogrePrimal Kyogre' 'Groudon'
 'GroudonPrimal Groudon' 'Rayquaza' 'RayquazaMega Rayquaza' 'Jirachi'
 'DeoxysNormal Forme' 'DeoxysAttack Forme' 'DeoxysDefense Forme'
 'DeoxysSpeed Forme' 'Uxie' 'Mesprit' 'Azelf' 'Dialga' 'Palkia' 'Heatran'
 'Regigigas' 'GiratinaAltered Forme' 'GiratinaOrigin Forme' 'Darkrai'
 'ShayminLand Forme' 'ShayminSky Forme' 'Arceus' 'Victini' 'Cobalion'
 'Terrakion' 'Virizion' 'TornadusIncarnate Forme' 'TornadusTherian Forme'
 'ThundurusIncarnate Forme' 'ThundurusTherian Forme' 'Reshiram' 'Zekrom'
 'LandorusIncarnate Forme' 'LandorusTherian Forme' 'Kyurem'
 'KyuremBlack Kyurem' 'KyuremWhite Kyurem' 'Xerneas' 'Yveltal'
 'Zygarde50% Forme' 'Diancie' 'DiancieMega Diancie' 'HoopaHoopa Confined'
 'HoopaHoopa Unbound' 'Volcanion']

In [66]:
# legendary e tipe 1 = grass
leggendari = df["Legendary"]  # già True/False
grass = df["Type 1"] == "Grass"
nomi = df.loc[leggendari & grass, "Name"].unique()
print(nomi)

['ShayminLand Forme' 'ShayminSky Forme' 'Virizion']

In [70]:
leggendari = df["Legendary"]  # già True/False
ice = df["Type 1"] == "Ice"
fire = df["Type 1"] == "Fire"
nomi = df.loc[leggendari & grass | fire, "Name"].unique()
print(nomi)

['Charmander' 'Charmeleon' 'Charizard' 'CharizardMega Charizard X'
 'CharizardMega Charizard Y' 'Vulpix' 'Ninetales' 'Growlithe' 'Arcanine'
 'Ponyta' 'Rapidash' 'Magmar' 'Flareon' 'Moltres' 'Cyndaquil' 'Quilava'
 'Typhlosion' 'Slugma' 'Magcargo' 'Magby' 'Entei' 'Ho-oh' 'Torchic'
 'Combusken' 'Blaziken' 'BlazikenMega Blaziken' 'Numel' 'Camerupt'
 'CameruptMega Camerupt' 'Torkoal' 'Chimchar' 'Monferno' 'Infernape'
 'Magmortar' 'Heatran' 'ShayminLand Forme' 'ShayminSky Forme' 'Tepig'
 'Pignite' 'Emboar' 'Pansear' 'Simisear' 'Darumaka'
 'DarmanitanStandard Mode' 'DarmanitanZen Mode' 'Heatmor' 'Virizion'
 'Fennekin' 'Braixen' 'Delphox' 'Fletchinder' 'Talonflame' 'Litleo'
 'Pyroar' 'Volcanion']

In [72]:
# • Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
prima_gen = df["Generation"] == 1
attacco = df["Attack"] > 50
hp = df["HP"] < 60
filtro = prima_gen & attacco & hp
pokemon = df.loc[filtro, "Name"].unique()
print(pokemon)

['Charmander' 'Charmeleon' 'Wartortle' 'Rattata' 'Raticate' 'Spearow'
 'Ekans' 'Pikachu' 'Sandshrew' 'Nidoran♂' 'Paras' 'Diglett' 'Dugtrio'
 'Psyduck' 'Mankey' 'Growlithe' 'Bellsprout' 'Geodude' 'Graveler' 'Ponyta'
 'Magneton' "Farfetch'd" 'Doduo' 'Shellder' 'Cloyster' 'Krabby' 'Kingler'
 'Hitmonlee' 'Hitmonchan' 'Koffing' 'Seadra' 'Goldeen' 'Eevee' 'Kabuto'
 'Dratini']