In [1]:
#numpy
#libreria per il calcolo numerico

#array multidimensionali (più efficienti delle liste)
#operazioni vettoriali
#funzioni matematiche
#numPy è alla base di Pandas

import numpy as np

#creo un array
numeri = np.array([1,2,3,4,5])

print(numeri)

print(type(numeri)) #numpy array è un nuovo data type

#operazioni vettorial

print(numeri * 10) #moltiplicando ogni elemento del vettore per 10
print(numeri + 1) #somma ad ogni elemento uno

#shape : forma dell'array
print(numeri.shape)

print(np.mean(numeri)) #media
print(np.max(numeri)) #max
print(np.min(numeri)) #min



#matrice 3 righe 4 colonne

matrice = np.array([[1,2,3,4],
                    [5,6,7,8],
                    [9,10,11,12]])

print(matrice.shape) #forma (tupla che avrà i valori degli indici max)
print(matrice.ndim) #numero di dimensioni dell'array
print(matrice.size) #numero totale di elementi = 12

[1 2 3 4 5]
<class 'numpy.ndarray'>
[10 20 30 40 50]
[2 3 4 5 6]
(5,)
3.0
5
1
(3, 4)
2
12

In [7]:
#PANDAS
#è un libreria per analizzare e manipolare dati tabulari
#dataset -> excel, csv, json, SQL
#leggere i dati, filtro, ordinamento, combinare (JOIN)
#campi di applicazione
#Data Science, BI, ML (preprocessing), Finanza, Marketing, analisi dati (CRM, Funnel, LOG)
import pandas as pd

#proviamo a leggere un CSV
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/iris.csv"
nomi_colonne = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]

#creo un dataframe attraverso il metodo read CSV di Pandas
#df = pd.read_csv(url, names=nomi_colonne)
#names lo utilizzo per specificare i nomi delle colonne (mapping) quando il csv non lo contiene al suo interno

df = pd.read_csv(url)
print(df.shape) #numero righe e colonna (forma)  -> capire quanto è grande il dataset/ ci indica la forma del file
print(df.columns) #nomi delle colonne -> filtri o selezioni dirette
print(df.index) #indice delle righe /(di solito da 0 a n)
#df

#metodi di ispezione

#info
df.info() #capire meglio la struttura del mio dataframe
#tipi, eventuali null e impegno in memoria
#capisco subito se il dataset è pulito o meno

#describe
df.describe()
#misura statistica dei numerici (media, deviazione, minimo, max, quartili).

print(df.head(15)) #prime N righe
print(df.tail(3)) #ultime N righe
print(df.sample(5)) #5 elementi casuali dal dataframe
print(df.nunique()) #valori unici per colonna/Conta quanti valori distinti ci sono per ogni colonna.
print(df["species"].value_counts()) #ML -> distribuzione delle categorie (conteggio per categoria); conta quante volte compare ogni specie

#accesso alle colonne di un dataframe
specie = df["species"]
print(specie.head()) #primi 5

#una colonna è una serie: oggetto simile a un array

#slicing
#selezionare righe per posizione
#mi sto prelevando un sotto insieme di elementi dal dataframe
print(df[10:20]) # (dalla decima alla diciannovesima riga)

#loc - > selezione per etichetta
print(df.loc[0])
print(df.loc[5:10]) # con loc, intervallo è inclusivo 

#loc riga e colonne
df.loc[0:5, ["species","sepal_length"]] 


#iloc selezione per posizione

df.iloc[0] # prima riga del dataframe
 
#iloc -> Index Location sempre per posizione
#loc -> Label Location usa le etichette / nomi degli indici e delle colonne

#differenze con lo slicing : ESCLUDE l'ultimo elemento

#voglio applicare un filtro
#selezionare solo le righe che soddisfano una determinata condizione
#sepal length > X (5)
print(df)
datiFiltrati = df["sepal_length"] > 5 #questa riga non filtra il df, ma crea una maschera booleana
#0 true
#1 false
#2 ....
print(datiFiltrati)
print(df.loc[datiFiltrati]) #applico la maschera boolean (true -> stampa, false -> non stampa) -> FILTRO

#uso variabili per impostare dei filtri
f1 = df["species"] == "virginica" 
f2 = df["sepal_width"] > 3.5

df.loc[f1 & f2] #mettendo due condizioni di filtro in AND
df.loc[f1 | f2] #metto in OR
df.loc[~f1] #not = tutti gli elementi non appartenenti alla specie "setosa"

#potevo anche omettere variabili d appoggio df.loc[df["species"] == "setosa" & df["sepal_width"] > 3.5]

#ordinamento
#esempio: voglio ordinare per species e per sepal_length, il primo in mod ASC e il secondo DESC
df.sort_values(["species","sepal_length"], ascending = [True, False])

df.sort_values("sepal_width", ascending = False)
print(df)

#i metodi sui dataframe non modificano il dataframe stesso, ma ne generano uno nuovo
#per rendere permanenti le modifiche , debbo ri assegnare il dataframe a lui stesso
df = df.sort_values("sepal_width", ascending = False)

#stampo i singoli valori unici presenti nelle specie
specieUniche = df["species"].unique()
for specie in specieUniche:
    print(specie)

#i valori unici con relativo conteggio
df["sepal_width"].value_counts()

(150, 5)
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
RangeIndex(start=0, stop=150, step=1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
     sepal_length  sepal_width  petal_length  petal_width     species
45            4.8          3.0           1.4          0.3      setosa
96            5.7          2.9           4.2          1.3  versicolor
138           6.0          3.0           4.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
123           6.3          2.7           4.9          1.8   virginica
sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64
species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64
0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object
    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
    sepal_length  sepal_width  petal_length  petal_width species
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
setosa
virginica
versicolor

sepal_width
3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.8     6
3.5     6
3.3     6
2.6     5
3.6     4
2.3     4
3.7     3
2.4     3
2.2     3
3.9     2
4.4     1
4.2     1
4.0     1
4.1     1
2.0     1
Name: count, dtype: int64

In [3]:
import pandas as pd
urlExcel = "https://go.microsoft.com/fwlink/?LinkID=521962" 
df = pd.read_excel(urlExcel)
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [9]:
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv("credenziali.env", override=True)

username = os.getenv("STUDENTE_DAPT")
password = os.getenv("PASSWORD")
host = os.getenv("HOST")
dbname = os.getenv("DBNAME")

print("USERNAME:", username)
print("PASSWORD:", password)
print("HOST:", host)
print("DBNAME:", dbname)


connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print("Connection string:", connection_string)


db_engine = sqlalchemy.create_engine(connection_string)
query = "SELECT * FROM dimproduct"
df = pd.read_sql(query,db_engine)

df
#una volta importata tramite pandas la sorgente dati posso utilizzare i metodi per analizzare il dataframe
#csv, json, excel, html, mysql -> dataframe

print(df.shape) # n. righe e colonne estratte
df.dtypes #datatype per ogni colonna

USERNAME: studente_dapt
PASSWORD: Ep1c0d3!!D4t4**4n4lys1s
HOST: epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com
DBNAME: AdventureWorksDW
Connection string: mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW
(606, 36)

ProductKey                        int64
ProductAlternateKey              object
ProductSubcategoryKey           float64
WeightUnitMeasureCode            object
SizeUnitMeasureCode              object
EnglishProductName               object
SpanishProductName               object
FrenchProductName                object
StandardCost                    float64
FinishedGoodsFlag                 int64
Color                            object
SafetyStockLevel                  int64
ReorderPoint                      int64
ListPrice                       float64
Size                             object
SizeRange                        object
Weight                          float64
DaysToManufacture                 int64
ProductLine                      object
DealerPrice                     float64
Class                            object
Style                            object
ModelName                        object
LargePhoto                       object
EnglishDescription               object
FrenchDescription                object
ChineseDescription               object
ArabicDescription                object
HebrewDescription                object
ThaiDescription                  object
GermanDescription                object
JapaneseDescription              object
TurkishDescription               object
StartDate                datetime64[ns]
EndDate                  datetime64[ns]
Status                           object
dtype: object

In [ ]:
# vediamo che nella tabella dimproduct ci sono 606 righe e 36 colonne; 
# alcune variabili sono stringe "object" e altre numeriche, come interi e decimali "float"

In [10]:
# ESERCIZIO 1 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB

In [ ]:
# con il comando df.info, è possibile estrarre diverse informazioni utili per la seguente analisi dei dati:
# RangeIndex: 606 entries, 0 to 605
# Data columns (total 36 columns)
# alcuni colonne presentano dei valori nulli, come per esempio la maggior parte dei prodotti non presenta sottocategoria.
# tipologie di dati: datetime64[ns](2), float64(5), int64(5), object(24)

In [13]:
print(df.loc[0]) # in questo modo ottengo il primo elemento della tabella, quindi quella con indice 0

ProductKey                                                               1
ProductAlternateKey                                                AR-5381
ProductSubcategoryKey                                                  NaN
WeightUnitMeasureCode                                                 None
SizeUnitMeasureCode                                                   None
EnglishProductName                                         Adjustable Race
SpanishProductName
FrenchProductName
StandardCost                                                           NaN
FinishedGoodsFlag                                                        0
Color                                                                   NA
SafetyStockLevel                                                      1000
ReorderPoint                                                           750
ListPrice                                                              NaN
Size                                                                  None
SizeRange                                                               NA
Weight                                                                 NaN
DaysToManufacture                                                        0
ProductLine                                                           None
DealerPrice                                                            NaN
Class                                                                 None
Style                                                                 None
ModelName                                                             None
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x...
EnglishDescription                                                    None
FrenchDescription                                                     None
ChineseDescription                                                    None
ArabicDescription                                                     None
HebrewDescription                                                     None
ThaiDescription                                                       None
GermanDescription                                                     None
JapaneseDescription                                                   None
TurkishDescription                                                    None
StartDate                                              2003-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 0, dtype: object

In [15]:
print(df.head(1)) # in questo modo ottengo solo la prima riga

   ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0           1             AR-5381                    NaN

  WeightUnitMeasureCode SizeUnitMeasureCode EnglishProductName  \
0                  None                None    Adjustable Race

  SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
0                                                NaN                  0  ...

  ChineseDescription  ArabicDescription  HebrewDescription  ThaiDescription  \
0               None               None               None             None

  GermanDescription JapaneseDescription  TurkishDescription  StartDate  \
0              None                None                None 2003-07-01

  EndDate   Status
0     NaT  Current

[1 rows x 36 columns]

In [18]:
print(df.loc[605]) # stampo l'ultimo elemento della tabella

ProductKey                                                             606
ProductAlternateKey                                             BK-R19B-52
ProductSubcategoryKey                                                  2.0
WeightUnitMeasureCode                                                   LB
SizeUnitMeasureCode                                                     CM
EnglishProductName                                      Road-750 Black, 52
SpanishProductName                               Carretera: 750, negra, 52
FrenchProductName                               Vélo de route 750 noir, 52
StandardCost                                                        343.65
FinishedGoodsFlag                                                        1
Color                                                                Black
SafetyStockLevel                                                       100
ReorderPoint                                                            75
ListPrice                                                           539.99
Size                                                                    52
SizeRange                                                         48-52 CM
Weight                                                               20.42
DaysToManufacture                                                        4
ProductLine                                                              R
DealerPrice                                                        323.994
Class                                                                    L
Style                                                                    U
ModelName                                                         Road-750
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x8avw\xf7...
EnglishDescription       Entry level adult bike; offers a comfortable r...
FrenchDescription        Vélo d'adulte d'entrée de gamme ; permet une c...
ChineseDescription                       入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
ArabicDescription        إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
HebrewDescription        אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
ThaiDescription          จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
GermanDescription        Ein Erwachsenenrad für Einsteiger; bietet Komf...
JapaneseDescription      エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
TurkishDescription       "Başlangıç seviyesinde yetişkin bisikleti, kır...
StartDate                                              2013-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 605, dtype: object

In [20]:
print(df.iloc[-1])
# possiamo fare anche così, se ci fossero tipo dei salti/filtri
# proprio perché non ci sono, le informazioni coincidono.

ProductKey                                                             606
ProductAlternateKey                                             BK-R19B-52
ProductSubcategoryKey                                                  2.0
WeightUnitMeasureCode                                                   LB
SizeUnitMeasureCode                                                     CM
EnglishProductName                                      Road-750 Black, 52
SpanishProductName                               Carretera: 750, negra, 52
FrenchProductName                               Vélo de route 750 noir, 52
StandardCost                                                        343.65
FinishedGoodsFlag                                                        1
Color                                                                Black
SafetyStockLevel                                                       100
ReorderPoint                                                            75
ListPrice                                                           539.99
Size                                                                    52
SizeRange                                                         48-52 CM
Weight                                                               20.42
DaysToManufacture                                                        4
ProductLine                                                              R
DealerPrice                                                        323.994
Class                                                                    L
Style                                                                    U
ModelName                                                         Road-750
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x8avw\xf7...
EnglishDescription       Entry level adult bike; offers a comfortable r...
FrenchDescription        Vélo d'adulte d'entrée de gamme ; permet une c...
ChineseDescription                       入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
ArabicDescription        إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
HebrewDescription        אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
ThaiDescription          จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
GermanDescription        Ein Erwachsenenrad für Einsteiger; bietet Komf...
JapaneseDescription      エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
TurkishDescription       "Başlangıç seviyesinde yetişkin bisikleti, kır...
StartDate                                              2013-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 605, dtype: object

In [21]:
# stampaniamo 5 elementi a caso
print(df.sample(5))

     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
126         127             LN-3824                    NaN
152         153             LW-8000                    NaN
85           86             LE-3800                    NaN
101         102             LJ-1220                    NaN
132         133             LN-5818                    NaN

    WeightUnitMeasureCode SizeUnitMeasureCode      EnglishProductName  \
126                  None                None             Lock Nut 13
152                  None                None           Lock Washer 3
85                   None                None  External Lock Washer 7
101                  None                None    Thin-Jam Lock Nut 10
132                  None                None             Lock Nut 21

    SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  \
126                                                NaN                  0
152                                                NaN                  0
85                                                 NaN                  0
101                                                NaN                  0
132                                                NaN                  0

     ... ChineseDescription  ArabicDescription  HebrewDescription  \
126  ...               None               None               None
152  ...               None               None               None
85   ...               None               None               None
101  ...               None               None               None
132  ...               None               None               None

     ThaiDescription GermanDescription JapaneseDescription  \
126             None              None                None
152             None              None                None
85              None              None                None
101             None              None                None
132             None              None                None

     TurkishDescription  StartDate EndDate   Status
126                None 2003-07-01     NaT  Current
152                None 2003-07-01     NaT  Current
85                 None 2003-07-01     NaT  Current
101                None 2003-07-01     NaT  Current
132                None 2003-07-01     NaT  Current

[5 rows x 36 columns]

In [23]:
print(df["Color"].unique())
# i colori disponibili sono: black, silver, red, white, blue, muulti, yellow, grey, silver/black

['NA' 'Black' 'Silver' 'Red' 'White' 'Blue' 'Multi' 'Yellow' 'Grey'
 'Silver/Black']

In [26]:
print(df["Color"].value_counts()) # in questo modo, conto le osseervazioni per ogni colore e ottengo anche i colori senza ripetizione.

Color
NA              254
Black           133
Red              63
Silver           52
Yellow           46
Blue             28
Multi            18
Silver/Black      7
White             4
Grey              1
Name: count, dtype: int64

In [28]:
df["Weight"].describe()
# i prodotti pesano in media 56.193227 (kg??);
# il peso minimo è 2.120000;
# il peso max è 1050.000000

count     282.000000
mean       56.193227
std       158.000652
min         2.120000
25%         2.680000
50%        15.420000
75%        24.130000
max      1050.000000
Name: Weight, dtype: float64

In [31]:
# vogliamo vedere quali sono???
df.loc[df["Weight"].idxmin()]
# HL Road Frame: questo è il prodotto che ha meso minimo

ProductKey                                                             241
ProductAlternateKey                                             FR-R92R-44
ProductSubcategoryKey                                                 14.0
WeightUnitMeasureCode                                                   LB
SizeUnitMeasureCode                                                     CM
EnglishProductName                                 HL Road Frame - Red, 44
SpanishProductName                        Cuadro de carretera GA: rojo, 44
FrenchProductName                    Cadre de vélo de route HL - rouge, 44
StandardCost                                                        747.97
FinishedGoodsFlag                                                        1
Color                                                                  Red
SafetyStockLevel                                                       500
ReorderPoint                                                           375
ListPrice                                                          1263.46
Size                                                                    44
SizeRange                                                         42-46 CM
Weight                                                                2.12
DaysToManufacture                                                        1
ProductLine                                                              R
DealerPrice                                                       758.0759
Class                                                                    H
Style                                                                    U
ModelName                                                    HL Road Frame
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x...
EnglishDescription       Our lightest and best quality aluminum frame m...
FrenchDescription        Notre cadre en aluminium plus léger et de qual...
ChineseDescription       重量最轻、质量最好的铝制车架采用最新的合金材质；经过焊接和热处理，坚固牢靠。我们创新的设计确...
ArabicDescription        لقد تم صناعة هيكل دراجتنا الألومنيوم الأخف وزن...
HebrewDescription        מסגרת האלומיניום הקלה והאיכותית ביותר שלנו עשו...
ThaiDescription          เฟรมอลูมิเนียมคุณภาพสูงสุดและน้ำหนักเบาที่สุด ...
GermanDescription        Unser leichtester und hochwertigster Aluminium...
JapaneseDescription      最新の合金で作られた最軽量/最高品質のアルミニウム フレームで、強度を得るために溶接および熱...
TurkishDescription       "En yeni alaşımdan imal edilme, en hafif ve en...
StartDate                                              2011-07-01 00:00:00
EndDate                                                2007-12-28 00:00:00
Status                                                                None
Name: 240, dtype: object

In [30]:
df.loc[df["Weight"].idxmax()]
#  LL Road Rear Wheel: questo è il prodotto con peso massimo

ProductKey                                                             422
ProductAlternateKey                                                RW-R623
ProductSubcategoryKey                                                 17.0
WeightUnitMeasureCode                                                    G
SizeUnitMeasureCode                                                   None
EnglishProductName                                      LL Road Rear Wheel
SpanishProductName                           Rueda de carretera trasera GB
FrenchProductName                         Roue arrière de vélo de route LL
StandardCost                                                         49.98
FinishedGoodsFlag                                                        1
Color                                                                Black
SafetyStockLevel                                                       500
ReorderPoint                                                           375
ListPrice                                                           112.57
Size                                                                  None
SizeRange                                                               NA
Weight                                                              1050.0
DaysToManufacture                                                        1
ProductLine                                                              R
DealerPrice                                                         67.539
Class                                                                    L
Style                                                                 None
ModelName                                               LL Road Rear Wheel
LargePhoto               b'GIF89a\x9b\x00\x96\x00\xf7\x00\x00\xfd\xd2\x...
EnglishDescription       Replacement road rear wheel for entry-level cy...
FrenchDescription        Roue avant pour vélo de route pour cycliste oc...
ChineseDescription                                      适用于入门级骑乘者的公路型备用前轮。
ArabicDescription        عجلة طريق أمامية بديلة لقائدي الدراجات المبتدئين.
HebrewDescription                גלגל חלופי קדמי לרכיבת כביש לרוכב המתחיל.
ThaiDescription          ล้อหน้าจักรยานภูเขาอะไหล่สำหรับนักปั่นระดับเริ...
GermanDescription                          Ersatzhinterrad für Einsteiger.
JapaneseDescription                                  初心者向けの交換用リア ロード ホイール。
TurkishDescription       Başlangıç seviyesinde sürücüler için yedek ark...
StartDate                                              2012-07-01 00:00:00
EndDate                                                2008-12-27 00:00:00
Status                                                                None
Name: 421, dtype: object

In [34]:
# Quanti prodotti pesano più di 100?
conteggio = (df["Weight"] > 100).sum() # siccome il filtro crea un valore booleano True/False e con sum, sommo i True
print(conteggio) # adesso li stampo
# 28 sono i prodotti che hanno peso maggiore di 100

28

In [35]:
# Quanto costano in media i prodotti (colonna DealerPrice)?
df["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [36]:
# per avere solo la media, faccio direttamente
df["DealerPrice"].mean()

448.5970597468353

In [ ]:
# i prodotti costano in media 448.597060 ($??)

In [ ]:
# i quartili dei prezzi sono:
# 25%        41.994000
# 50%       218.454000
# 75%       722.594900

In [41]:
# Qual è il prezzo medio per i prodotti di colore blu?
blu = df["Color"] == "Blue"      
media_blu = df.loc[blu, "DealerPrice"].mean()  # prendo riga e colonna
print(media_blu)

516.0631785714286

In [43]:
# Qual è il prezzo medio per i prodotti di colore rosso o nero? 
rosso = df["Color"] == "Red" 
nero = df["Color"] == "Black"
media_OR = df.loc[rosso | nero, "DealerPrice"].mean()  # prendo riga e colonna
print(media_OR)

550.2481873684211

In [45]:
# Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
taglia_42 = df["Size"] == 42
peso_oltre_10 = df["Weight"] > 10
prezzo_max = df.loc[taglia_42 & peso_oltre_10, "DealerPrice"].max()
print(prezzo_max)

nan

In [46]:
print(((df["Size"] == 42) & (df["Weight"] > 10)).sum())
# queste due condizioni non si verificano congiuntamente

0

In [52]:
# Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
taglia_42 = df["Size"] == 42
peso_oltre_10 = df["Weight"] > 10
argento = df["Color"] == "Silver"
filtro = taglia_42 & peso_oltre_10 & argento
risultato = df.loc[filtro, ["EnglishProductName", "StandardCost"]]
print(risultato)

Empty DataFrame
Columns: [EnglishProductName, StandardCost]
Index: []

In [ ]:
# queste tre condizioni non si verificano congiuntamente = no result

In [53]:
# Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: quali sono le differenze? C'è un pattern? C'è qualche elemento che non lo segue?
ultimi_20 = df[["StandardCost", "DealerPrice"]].tail(20)
print(ultimi_20)
# gli elementi 600-601-602 non seguono nessun pattern

     StandardCost  DealerPrice
586        419.78      461.694
587        419.78      461.694
588        419.78      461.694
589        419.78      461.694
590        308.22      338.994
591        308.22      338.994
592        308.22      338.994
593        308.22      338.994
594        308.22      338.994
595        294.58      323.994
596        294.58      323.994
597        294.58      323.994
598        294.58      323.994
599        294.58      323.994
600         23.97       32.394
601         44.95       60.744
602         53.94       72.894
603        343.65      323.994
604        343.65      323.994
605        343.65      323.994

In [55]:
ultimi_20["Differenza"] = ultimi_20["DealerPrice"] - ultimi_20["StandardCost"]
print(ultimi_20)

     StandardCost  DealerPrice  Differenza
586        419.78      461.694      41.914
587        419.78      461.694      41.914
588        419.78      461.694      41.914
589        419.78      461.694      41.914
590        308.22      338.994      30.774
591        308.22      338.994      30.774
592        308.22      338.994      30.774
593        308.22      338.994      30.774
594        308.22      338.994      30.774
595        294.58      323.994      29.414
596        294.58      323.994      29.414
597        294.58      323.994      29.414
598        294.58      323.994      29.414
599        294.58      323.994      29.414
600         23.97       32.394       8.424
601         44.95       60.744      15.794
602         53.94       72.894      18.954
603        343.65      323.994     -19.656
604        343.65      323.994     -19.656
605        343.65      323.994     -19.656