In [2]:
# eserizio 2 - W11D5
import pandas as pd
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\insurance\insurance.csv")
df.head() # ottengo un'anteprima delle prime 5 righe

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.info() 
# in questo modo ottengo le informazioni in merito alla dimensione, 1338 osservazioni con 7 colonne e non ci sono valori non nulli.
# tipo di dati: float64(2), int64(2), object(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
print(df.columns)
# i nomi delle colonne sono: age, bmi, children, smoker, region, charges.

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
# le principali statistiche
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [16]:
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
# • Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
# • E rispetto a smoker? E a sex? • Quali sono i descrittori statistici di bmi? 
# Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? 
# Nota: è lo stesso esercizio della volta scorsa, ma stavolta da eseguire con il metodo .groupby()

# media di charges rispetto alla regione
media1 = df.groupby("region")["charges"].mean()
print(round(media1,2))
# le medie non differiscono molto tra di loro
round(media1.sort_values(),2)
# in questo modo le ho ordinate

region
northeast    13406.38
northwest    12417.58
southeast    14735.41
southwest    12346.94
Name: charges, dtype: float64

region
southwest    12346.94
northwest    12417.58
northeast    13406.38
southeast    14735.41
Name: charges, dtype: float64

In [17]:
# media di charges rispetto a smoker
media2 = df.groupby("smoker")["charges"].mean()
print(round(media2,2))

# media di charges rispetto al genere
media3 = df.groupby("sex")["charges"].mean()
print(round(media3,2))

smoker
no      8434.27
yes    32050.23
Name: charges, dtype: float64
sex
female    12569.58
male      13956.75
Name: charges, dtype: float64

In [21]:
round(df["bmi"].describe(),3)

count    1338.000
mean       30.663
std         6.098
min        15.960
25%        26.296
50%        30.400
75%        34.694
max        53.130
Name: bmi, dtype: float64

In [28]:
# Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? 
Q1 = df["bmi"].quantile([0.25])
Q2 = df["bmi"].quantile([0.5])
Q3 = df["bmi"].quantile([0.75])
print(Q1)
print(Q2)
print(Q3)
quantili = df["bmi"].quantile([0.25, 0.50, 0.75])
print(quantili)

0.25    26.29625
Name: bmi, dtype: float64
0.5    30.4
Name: bmi, dtype: float64
0.75    34.69375
Name: bmi, dtype: float64
0.25    26.29625
0.50    30.40000
0.75    34.69375
Name: bmi, dtype: float64

In [36]:
df["quartile_bmi"] = pd.qcut(df["bmi"], 4, labels=["Q1","Q2","Q3","Q4"])
# bisogna aggiungere la colonna dei quantili al dataframe 
# in questo modo ho: da 0 a 0.24;0.25 a 0.49; 0.50 a 0.74; 0.75 a 1
misure = df.groupby("quartile_bmi", observed=False)["charges"].agg(["min","mean","max"])
print(round(misure,2)) # prendo solo 2 cifre dopo la virgola

                  min      mean       max
quartile_bmi
Q1            1121.87  10360.66  38245.59
Q2            1131.51  11407.83  62592.87
Q3            1135.94  14358.17  60021.40
Q4            1141.45  16987.94  63770.43

In [37]:
# esercizio sul dataset IRIS
import pandas as pd
# carico il dataset 
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\beginner_datasets\iris.csv")
df.head() # anteprima delle prime 5 righe

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [39]:
df.info()
print(df.columns)
round(df.describe(),2)
# nomi colonne: sepal_length, sepal_width, petal_length, petal_width, species

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

       sepal_length  sepal_width  petal_length  petal_width
count        150.00       150.00        150.00       150.00
mean           5.84         3.05          3.76         1.20
std            0.83         0.43          1.76         0.76
min            4.30         2.00          1.00         0.10
25%            5.10         2.80          1.60         0.30
50%            5.80         3.00          4.35         1.30
75%            6.40         3.30          5.10         1.80
max            7.90         4.40          6.90         2.50

In [41]:
media_petali = df["petal_length"].mean()
print(round(media_petali,2))

3.76

In [45]:
media_petali_specie = df.groupby("species")["petal_length"].mean()
print(round(media_petali_specie,2))

species
Iris-setosa        1.46
Iris-versicolor    4.26
Iris-virginica     5.55
Name: petal_length, dtype: float64

In [46]:
informazioni_aggregate = df.groupby("species")["sepal_width"].agg(["min", "mean", "max"])
print(informazioni_aggregate)

                 min   mean  max
species
Iris-setosa      2.3  3.418  4.4
Iris-versicolor  2.0  2.770  3.4
Iris-virginica   2.2  2.974  3.8

In [47]:
# DATASET WINE
import pandas as pd
# carico il dataset 
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\beginner_datasets\wine.csv")
df.head() # anteprima delle prime 5 righe

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [52]:
df.info()
print(df.columns)
df.describe()
df["quality"].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  type                  6497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

array([5, 6, 7, 4, 8, 3, 9], dtype=int64)

In [53]:
# Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale? 
# C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi?

# media globale della concentrazione alcolica per tutti i vini
media_globale = df["alcohol"].mean()
print(round(media_globale,2))

10.49

In [55]:
# media concentrazione alcolica per qualità
media_qualita = df.groupby("quality")["alcohol"].mean()
print(media_qualita) # 7 tipi di qualità
media_qualita.sort_values()
# non ci sono molte differenze nelle medie dei gruppi, nemmeno rispetto alla media globale

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

quality
5     9.837783
4    10.180093
3    10.215000
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [57]:
df.groupby("type")["alcohol"].describe()
# anche se i bianchi sono maggiori dei neri, i descrittori statistici per la concentrazione alcolica non sono tanto differenti

        count       mean       std  min  25%   50%   75%   max
type
red    1599.0  10.422983  1.065668  8.4  9.5  10.2  11.1  14.9
white  4898.0  10.514267  1.230621  8.0  9.5  10.4  11.4  14.2

In [59]:
# Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? E per i solfati?
media_globalepH = df["pH"].mean()
print(round(media_globalepH,2))

media_qualitapH = df.groupby("quality")["pH"].mean()
print(media_qualitapH) # 7 tipi di qualità
media_qualitapH.sort_values()

# differenza bianchi e rossi
df.groupby("type")["pH"].describe()

3.22
quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

        count      mean       std   min   25%   50%   75%   max
type
red    1599.0  3.311113  0.154386  2.74  3.21  3.31  3.40  4.01
white  4898.0  3.188267  0.151001  2.72  3.09  3.18  3.28  3.82

In [60]:
# stesso ragionamento per i solfati
media_globaleS = df["sulphates"].mean()
print(round(media_globaleS,2))

media_qualitaS = df.groupby("quality")["sulphates"].mean()
print(media_qualitaS) # 7 tipi di qualità
media_qualitaS.sort_values()

# differenza bianchi e rossi
df.groupby("type")["sulphates"].describe()

0.53
quality
3    0.506333
4    0.505648
5    0.526403
6    0.532549
7    0.547025
8    0.512487
9    0.466000
Name: sulphates, dtype: float64

        count      mean       std   min   25%   50%   75%   max
type
red    1599.0  0.658149  0.169507  0.33  0.55  0.62  0.73  2.00
white  4898.0  0.489847  0.114126  0.22  0.41  0.47  0.55  1.08

In [61]:
# dataset BOSTON
import pandas as pd
# carico il dataset 
df = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\beginner_datasets\boston.csv")
df.head() # anteprima delle prime 5 righe

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [62]:
df.info()
print(df.columns)
round(df.describe(),2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00
mean,3.61,11.36,11.14,0.07,0.55,6.28,68.57,3.80,9.55,408.24,18.46,356.67,12.65,22.53
std,8.60,23.32,6.86,0.25,0.12,0.70,28.15,2.11,8.71,168.54,2.16,91.29,7.14,9.20
min,0.01,0.00,0.46,0.00,0.38,3.56,2.90,1.13,1.00,187.00,12.60,0.32,1.73,5.00
25%,0.08,0.00,5.19,0.00,0.45,5.89,45.02,2.10,4.00,279.00,17.40,375.38,6.95,17.02
50%,0.26,0.00,9.69,0.00,0.54,6.21,77.50,3.21,5.00,330.00,19.05,391.44,11.36,21.20
75%,3.68,12.50,18.10,0.00,0.62,6.62,94.07,5.19,24.00,666.00,20.20,396.22,16.96,25.00
max,88.98,100.00,27.74,1.00,0.87,8.78,100.00,12.13,24.00,711.00,22.00,396.90,37.97,50.00

In [64]:
# La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?
media_prezzocase = df.groupby("chas")["medv"].mean()
print(round(media_prezzocase,2))

chas
0    22.09
1    28.44
Name: medv, dtype: float64

In [66]:
diff = 28.44 - 22.09
print(round(diff,2))
# il prezzo delle case in base alla vicinanza varia in media di 6.35 dollari

6.35

In [68]:
# Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?
df.corr(numeric_only=True)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
zn,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
indus,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
chas,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
nox,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
rm,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
age,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
dis,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
rad,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
tax,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
ptratio,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
black,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
lstat,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
medv,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

In [ ]:
# tra crim e medv vi è correlazione negativa:
# All’aumentare della criminalità, il valore delle case tende a diminuire.

In [69]:
# Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? 
# E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato?
media_stanze = df.groupby("ptratio")["rm"].mean()
print(media_stanze)

media_valorecase = df.groupby("ptratio")["medv"].mean()
print(media_valorecase)

ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64
ptratio
12.6    32.733333
13.0    38.025000
13.6    50.000000
14.4    50.000000
14.7    25.717647
14.8    25.433333
14.9    40.475000
15.1    31.600000
15.2    26.276923
15.3    26.066667
15.5    32.700000
15.6    30.100000
15.9    30.250000
16.0    24.320000
16.1    24.880000
16.4    23.216667
16.6    23.856250
16.8    22.150000
16.9    19.640000
17.0    30.600000
17.3    24.700000
17.4    33.544444
17.6    30.700000
17.8    26.956522
17.9    22.363636
18.0    33.100000
18.2    22.150000
18.3    27.100000
18.4    23.131250
18.5    23.800000
18.6    24.335294
18.7    25.122222
18.8    17.350000
18.9    20.100000
19.0    24.900000
19.1    22.894118
19.2    22.805263
19.6    22.575000
19.7    21.787500
20.1    12.800000
20.2    16.611429
20.9    21.118182
21.0    17.351852
21.1    18.900000
21.2    17.093333
22.0    19.400000
Name: medv, dtype: float64

In [71]:
df["ptratio"].corr(df["rm"])

-0.3555014945590855

In [72]:
df["ptratio"].corr(df["medv"])

-0.5077866855375615

In [ ]:
# Notiamo una correlazione negativa tra il rapporto alunni-insegnanti (PTRATIO) e il numero medio di stanze (RM), circa -0,35. 
# Ciò significa che all’aumentare del rapporto alunni-insegnanti il numero medio di stanze per abitazione tende a diminuire.
# Analogamente, c’è una correlazione negativa tra PTRATIO e il valore mediano delle abitazioni (MEDV), circa -0,50: 
# un aumento del rapporto alunni-insegnanti è associato a un valore mediano delle case più basso.

In [77]:
# Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? 
# E del numero di stanze? E delle tasse?
media_eta = df.groupby("rad")["age"].mean()
print(round(media_eta,2))

rad
1     45.02
2     64.77
3     49.31
4     60.84
5     69.22
6     60.14
7     40.14
8     67.35
24    89.81
Name: age, dtype: float64

In [78]:
media_sta = df.groupby("rad")["rm"].mean()
print(round(media_sta,2))

rad
1     6.56
2     6.65
3     6.47
4     6.13
5     6.39
6     6.10
7     6.65
8     6.95
24    6.02
Name: rm, dtype: float64

In [79]:
media_tasse = df.groupby("rad")["tax"].mean()
print(round(media_tasse,2))

rad
1     291.45
2     260.67
3     246.08
4     335.98
5     331.84
6     372.88
7     304.41
8     301.25
24    666.00
Name: tax, dtype: float64

In [80]:
# esercizio dataframe
employees_df = pd.DataFrame({ 
    'employee_id': [101, 102, 103, 104, 105], 
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 
    'department_id': [1, 2, 1, 2, 3] })

In [81]:
departments_df = pd.DataFrame({ 
    'department_id': [1, 2, 3], 
    'department_name': ['HR', 'IT', 'Finance'], 
    'location': ['New York', 'San Francisco', 'Chicago'] })

In [82]:
# 1. Unire questi DataFrame in base alla colonna comune department_id,
# in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge()
df_unito = pd.merge(employees_df, departments_df, on = "department_id", how = "inner")
print(df_unito)

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [83]:
# Per ogni DataFrame, trasformare la colonna department_id nell'indice, 
# facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join()
employees_df.set_index("department_id").join(
    departments_df.set_index("department_id"),
    how="inner"
)

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

In [ ]:
'''
merge() lavora sulle colonne, quindi l’indice originale del DataFrame non cambia.
Quando fai il print, vedi gli injoin() lavora sugli indici, quindi se prima hai fatto set_index("department_id"), il department_id diventa l’indice del nuovo DataFrame.

Gli indici non sono più 0, 1, 2…, ma i valori della colonna department_id.
Le altre colonne (employee_id, name, ecc.) rimangono come colonne normali.dici 0, 1, 2… come in un normale DataFrame, e le colonne employee_id, name, department_id ecc.
'''

In [1]:
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv("credenziali.env", override=True)

username = os.getenv("STUDENTE_DAPT")
password = os.getenv("PASSWORD")
host = os.getenv("HOST")
dbname = os.getenv("DBNAME")

print("USERNAME:", username)
print("PASSWORD:", password)
print("HOST:", host)
print("DBNAME:", dbname)


connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print("Connection string:", connection_string)


db_engine = sqlalchemy.create_engine(connection_string)

USERNAME: studente_dapt
PASSWORD: Ep1c0d3!!D4t4**4n4lys1s
HOST: epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com
DBNAME: AdventureWorksDW
Connection string: mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [13]:
query1 = "SELECT * FROM dimemployee"
df1 = pd.read_sql(query1,db_engine)
df1
df1.shape

(296, 28)

In [12]:
query2 = "SELECT * FROM dimemployeesalesterritory"
df2 = pd.read_sql(query2,db_engine)
df2
df2.shape

(39, 2)

In [9]:
df_unito = pd.merge(df1, df2, on = "EmployeeKey", how = "inner")
df_unito

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,2,23.0769,24,32,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,2,23.0769,33,36,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,2,23.0769,29,34,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,2,23.0769,26,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
27,288,272.0,399771412,502097814.0,José,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,2,23.0769,31,35,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,2,23.0769,23,31,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9

In [11]:
df_unito.shape

(39, 29)

In [27]:
# join
df_joined = df2.set_index("EmployeeKey").join(
    df1.set_index("EmployeeKey"),
    how="inner"
)

df_joined

,SalesTerritoryKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
EmployeeKey,,,,,,,,,,,,,,,,,,,,,
272,1,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,M,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
277,1,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
286,1,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,F,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
289,1,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,M,2,23.0769,23,31,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
293,1,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
272,2,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,M,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
277,2,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
281,2,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,M,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
272,3,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,M,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
277,3,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
281,3,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,M,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
282,3,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,F,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
283,3,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,F,2,23.0769,24,32,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
272,4,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,M,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
277,4,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
282,4,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,F,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
286,4,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,F,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
287,4,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,M,2,23.0769,26,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
272,5,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,M,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
277,5,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
281,5,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,M,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
285,5,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,M,2,23.0769,29,34,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
272,6,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,M,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
277,6,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
284,6,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,M,2,23.0769,33,36,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
288,6,272.0,399771412,502097814.0,José,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,M,2,23.0769,31,35,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
277,7,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
290,7,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,F,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
291,7,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,F,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
292,7,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
277,8,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
290,8,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,F,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
295,8,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
277,9,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
294,9,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
296,9,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
277,10,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,M,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
290,10,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,F,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
291,10,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,F,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative

In [28]:
query3 = "SELECT * FROM dimsalesterritory"
df3 = pd.read_sql(query3,db_engine)
df3
df3.shape

(11, 6)

In [29]:
df_joined = df_joined.reset_index()

In [36]:
df_final = df_joined.merge(df3, on="SalesTerritoryKey", how="inner")
df_final.shape
df_final
df_final.columns

Index(['EmployeeKey', 'SalesTerritoryKey', 'ParentEmployeeKey',
       'EmployeeNationalIDAlternateKey',
       'ParentEmployeeNationalIDAlternateKey', 'FirstName', 'LastName',
       'MiddleName', 'NameStyle', 'Title', 'HireDate', 'BirthDate', 'LoginID',
       'EmailAddress', 'Phone', 'MaritalStatus', 'EmergencyContactName',
       'EmergencyContactPhone', 'SalariedFlag', 'Gender', 'PayFrequency',
       'BaseRate', 'VacationHours', 'SickLeaveHours', 'CurrentFlag',
       'SalesPersonFlag', 'DepartmentName', 'EmployeePhoto', 'Position',
       'SalesTerritoryAlternateKey', 'SalesTerritoryRegion',
       'SalesTerritoryCountry', 'SalesTerritoryGroup', 'SalesTerritoryImage'],
      dtype='object')

In [31]:
df_final.groupby("SalesTerritoryCountry")["EmployeeKey"].nunique()

SalesTerritoryCountry
Australia          3
Canada             4
France             4
Germany            3
United Kingdom     3
United States     10
Name: EmployeeKey, dtype: int64

In [35]:
df_final.groupby("SalesTerritoryRegion")["EmployeeKey"].nunique()

SalesTerritoryRegion
Australia         3
Canada            4
Central           5
France            4
Germany           3
Northeast         3
Northwest         5
Southeast         4
Southwest         5
United Kingdom    3
Name: EmployeeKey, dtype: int64

In [38]:
df_final.groupby('SalesTerritoryCountry')['BaseRate'].mean()
# non eccessive differenze

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64

In [39]:
df_final.groupby('SalesTerritoryRegion')['BaseRate'].mean()

SalesTerritoryRegion
Australia         47.764433
Canada            41.592550
Central           37.889420
France            41.592550
Germany           47.764433
Northeast         47.764433
Northwest         37.889420
Southeast         41.592550
Southwest         37.889420
United Kingdom    47.764433
Name: BaseRate, dtype: float64