In [19]:
# esercizio 1
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv("credenziali.env", override=True)

username = os.getenv("STUDENTE_DAPT")
password = os.getenv("PASSWORD")
host = os.getenv("HOST")
dbname = os.getenv("DBNAME")

print("USERNAME:", username)
print("PASSWORD:", password)
print("HOST:", host)
print("DBNAME:", dbname)


connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print("Connection string:", connection_string)


db_engine = sqlalchemy.create_engine(connection_string)

USERNAME: studente_dapt
PASSWORD: Ep1c0d3!!D4t4**4n4lys1s
HOST: epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com
DBNAME: AdventureWorksDW
Connection string: mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [20]:
query = "SELECT * FROM dimproduct"
df = pd.read_sql(query,db_engine)
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [14]:
df.head()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [21]:
# rpund
round(df["DealerPrice"],2)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
601     60.74
602     72.89
603    323.99
604    323.99
605    323.99
Name: DealerPrice, Length: 606, dtype: float64

In [23]:
# clip
round(df["DealerPrice"],0)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     61.0
602     73.0
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [24]:
df['DealerPrice'] = df['DealerPrice'].clip(lower=0, upper=1000)

In [27]:
# esercizio 2 
import numpy as np

years = 5
guadagni = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), 
                         "Anno": np.repeat(list(range(years)), 12), 
                         "Valore": np.random.randint(800, 5000, 12*years)})

In [30]:
guadagni["SommaCumulativa"] = guadagni["Valore"].cumsum()
print(guadagni[["Valore", "SommaCumulativa"]])

    Valore  SommaCumulativa
0     2150             2150
1      860             3010
2     1101             4111
3     4076             8187
4     3124            11311
5     3187            14498
6     2510            17008
7      961            17969
8     4417            22386
9     3543            25929
10    4325            30254
11    3133            33387
12    3716            37103
13    2285            39388
14    2068            41456
15    2022            43478
16    1275            44753
17    1605            46358
18    4894            51252
19    2613            53865
20    3736            57601
21    3363            60964
22    1181            62145
23    4365            66510
24    2905            69415
25     964            70379
26    1504            71883
27    1254            73137
28    2078            75215
29    2052            77267
30    3433            80700
31    1762            82462
32    4051            86513
33    1841            88354
34    2892            91246
35    1520            92766
36    4034            96800
37    1960            98760
38    2489           101249
39    2062           103311
40    4138           107449
41    4805           112254
42    2993           115247
43    1674           116921
44    4458           121379
45    4635           126014
46    2810           128824
47    3774           132598
48     856           133454
49    3786           137240
50    3665           140905
51    4774           145679
52    3916           149595
53    4482           154077
54    3599           157676
55    4562           162238
56    1012           163250
57    2777           166027
58    2122           168149
59    1277           169426

In [33]:
annuale = guadagni.groupby("Anno")["Valore"].cumsum()
print(annuale)

0      2150
1      3010
2      4111
3      8187
4     11311
5     14498
6     17008
7     17969
8     22386
9     25929
10    30254
11    33387
12     3716
13     6001
14     8069
15    10091
16    11366
17    12971
18    17865
19    20478
20    24214
21    27577
22    28758
23    33123
24     2905
25     3869
26     5373
27     6627
28     8705
29    10757
30    14190
31    15952
32    20003
33    21844
34    24736
35    26256
36     4034
37     5994
38     8483
39    10545
40    14683
41    19488
42    22481
43    24155
44    28613
45    33248
46    36058
47    39832
48      856
49     4642
50     8307
51    13081
52    16997
53    21479
54    25078
55    29640
56    30652
57    33429
58    35551
59    36828
Name: Valore, dtype: int32

In [57]:
# esercizio 3
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv("credenziali.env", override=True)

username = os.getenv("STUDENTE_DAPT")
password = os.getenv("PASSWORD")
host = os.getenv("HOST")
dbname = os.getenv("DBNAME")

print("USERNAME:", username)
print("PASSWORD:", password)
print("HOST:", host)
print("DBNAME:", dbname)


connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print("Connection string:", connection_string)


db_engine = sqlalchemy.create_engine(connection_string)

USERNAME: studente_dapt
PASSWORD: Ep1c0d3!!D4t4**4n4lys1s
HOST: epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com
DBNAME: AdventureWorksDW
Connection string: mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [59]:
query2 = "SELECT * FROM dimcustomer"
df2 = pd.read_sql(query2,db_engine)
df2

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18481,29481,120,AW00029481,None,Ivan,None,Suri,0,1965-07-04,S,...,Clerical,Administrativo,Employé,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [60]:
# Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole
df2["FirstName"].str.lower()

0              jon
1           eugene
2            ruben
3          christy
4        elizabeth
           ...
18479        tommy
18480         nina
18481         ivan
18482      clayton
18483        jésus
Name: FirstName, Length: 18484, dtype: object

In [61]:
df2["LastName"].str.upper()

0           YANG
1          HUANG
2         TORRES
3            ZHU
4        JOHNSON
          ...
18479       TANG
18480       RAJI
18481       SURI
18482      ZHANG
18483    NAVARRO
Name: LastName, Length: 18484, dtype: object

In [62]:
# Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio
df2.head()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles

In [47]:
df2.columns

Index(['CustomerKey', 'GeographyKey', 'CustomerAlternateKey', 'Title',
       'FirstName', 'MiddleName', 'LastName', 'NameStyle', 'BirthDate',
       'MaritalStatus', 'Suffix', 'Gender', 'EmailAddress', 'YearlyIncome',
       'TotalChildren', 'NumberChildrenAtHome', 'EnglishEducation',
       'SpanishEducation', 'FrenchEducation', 'EnglishOccupation',
       'SpanishOccupation', 'FrenchOccupation', 'HouseOwnerFlag',
       'NumberCarsOwned', 'AddressLine1', 'AddressLine2', 'Phone',
       'DateFirstPurchase', 'CommuteDistance'],
      dtype='object')

In [65]:
print(df2.columns.tolist())

['CustomerKey', 'GeographyKey', 'CustomerAlternateKey', 'Title', 'FirstName', 'MiddleName', 'LastName', 'NameStyle', 'BirthDate', 'MaritalStatus', 'Suffix', 'Gender', 'EmailAddress', 'YearlyIncome', 'TotalChildren', 'NumberChildrenAtHome', 'EnglishEducation', 'SpanishEducation', 'FrenchEducation', 'EnglishOccupation', 'SpanishOccupation', 'FrenchOccupation', 'HouseOwnerFlag', 'NumberCarsOwned', 'AddressLine1', 'AddressLine2', 'Phone', 'DateFirstPurchase', 'CommuteDistance']

In [66]:
df2.columns = df2.columns.str.strip()  # rimuove spazi iniziali/finali

In [69]:
# Split su '@' per ottenere Username e Dominio
df2[['Username', 'Dominio']] = df2['EmailAddress'].str.split('@', expand=True)

# Controllo
print(df2[['EmailAddress', 'Username', 'Dominio']].head())

                     EmailAddress    Username              Dominio
0       jon24@adventure-works.com       jon24  adventure-works.com
1    eugene10@adventure-works.com    eugene10  adventure-works.com
2     ruben35@adventure-works.com     ruben35  adventure-works.com
3   christy12@adventure-works.com   christy12  adventure-works.com
4  elizabeth5@adventure-works.com  elizabeth5  adventure-works.com

In [70]:
df2["Phone"]

0        1 (11) 500 555-0162
1        1 (11) 500 555-0110
2        1 (11) 500 555-0184
3        1 (11) 500 555-0162
4        1 (11) 500 555-0131
                ...
18479    1 (11) 500 555-0136
18480    1 (11) 500 555-0146
18481    1 (11) 500 555-0144
18482    1 (11) 500 555-0137
18483    1 (11) 500 555-0141
Name: Phone, Length: 18484, dtype: object

In [74]:
# Split dei numeri di telefono sugli spazi
df2['Phone_parts'] = df2['Phone'].str.split(' ')

print(df2[['Phone', 'Phone_parts']].head())

                 Phone               Phone_parts
0  1 (11) 500 555-0162  [1, (11), 500, 555-0162]
1  1 (11) 500 555-0110  [1, (11), 500, 555-0110]
2  1 (11) 500 555-0184  [1, (11), 500, 555-0184]
3  1 (11) 500 555-0162  [1, (11), 500, 555-0162]
4  1 (11) 500 555-0131  [1, (11), 500, 555-0131]

In [76]:
# Filtra le righe che contengono "21"
emails_21 = df2[df2['EmailAddress'].str.contains('21')]

# Mostra il risultato
print(emails_21[['EmailAddress']])

                         EmailAddress
64        chase21@adventure-works.com
118       alvin21@adventure-works.com
130    caroline21@adventure-works.com
163     gabriel21@adventure-works.com
203        luis21@adventure-works.com
...                               ...
18337    hector21@adventure-works.com
18365    cheryl21@adventure-works.com
18435   stanley21@adventure-works.com
18440    rafael21@adventure-works.com
18480      nina21@adventure-works.com

[431 rows x 1 columns]

In [78]:
# Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10" 
emails_20_10 = df2[df2['EmailAddress'].str.contains('20|10', na=False)]
print(emails_20_10[['EmailAddress']])

                           EmailAddress
1          eugene10@adventure-works.com
10      jacquelyn20@adventure-works.com
22          ethan20@adventure-works.com
30        bethany10@adventure-works.com
32         denise10@adventure-works.com
...                                 ...
18395       lydia10@adventure-works.com
18397      walter10@adventure-works.com
18415       oscar20@adventure-works.com
18418     lindsey10@adventure-works.com
18428  kristopher20@adventure-works.com

[1042 rows x 1 columns]

In [79]:
# Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i cinque più lunghi e i cinque più corti 
# Calcolo lunghezza
df2['EmailLength'] = df2['EmailAddress'].str.len()

# Cinque più lunghe
top5_longest = df2.nlargest(5, 'EmailLength')
print(top5_longest[['EmailAddress', 'EmailLength']])

# Cinque più corte
top5_shortest = df2.nsmallest(5, 'EmailLength')
print(top5_shortest[['EmailAddress', 'EmailLength']])

                           EmailAddress  EmailLength
979   christopher25@adventure-works.com           33
1767  christopher18@adventure-works.com           33
2655  christopher23@adventure-works.com           33
3512  christopher27@adventure-works.com           33
4772  christopher10@adventure-works.com           33
                   EmailAddress  EmailLength
3974     k0@adventure-works.com           22
15299    y0@adventure-works.com           22
8      rob4@adventure-works.com           24
53     ana0@adventure-works.com           24
215    ana7@adventure-works.com           24

In [ ]:
# Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace() 
df2['EmailAddress'] = df2['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com', regex=False)

In [80]:
#  Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"
street_addresses = df2[df2['AddressLine1'].str.contains('Street', na=False)]
print(street_addresses[['AddressLine1']])

                 AddressLine1
7            942 Brook Street
12          4785 Scott Street
32         626 Bentley Street
63         4927 Virgil Street
125        8481 Zartop Street
...                       ...
18273      2155 Zartop Street
18292       3931 Scott Street
18323  134 Peachwillow Street
18333     1023 Hawkins Street
18351        8618 Rose Street

[512 rows x 1 columns]

In [85]:
# esercio 4
import pandas as pd
fb = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\beginner_datasets\facebook.csv")
fb.head() # ottengo un'anteprima delle prime 5 righe

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0

In [87]:
# Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp
import pandas as pd

# Conversione della colonna in formato Timestamp
fb['status_published'] = pd.to_datetime(fb['status_published'])

In [96]:
# Estrarre informazioni temporali
fb['status_published'].dt.year       # anno

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
7045    2016
7046    2016
7047    2016
7048    2016
7049    2016
Name: status_published, Length: 7050, dtype: int32

In [97]:
fb['status_published'].dt.month      # mese (1-12)

0       4
1       4
2       4
3       4
4       4
       ..
7045    9
7046    9
7047    9
7048    9
7049    9
Name: status_published, Length: 7050, dtype: int32

In [98]:
fb['status_published'].dt.day        # giorno del mese

0       22
1       21
2       21
3       21
4       18
        ..
7045    24
7046    23
7047    21
7048    20
7049    10
Name: status_published, Length: 7050, dtype: int32

In [99]:
fb['status_published'].dt.dayofweek  # giorno della settimana (0=Lunedì, 6=Domenica)

0       6
1       5
2       5
3       5
4       2
       ..
7045    5
7046    4
7047    2
7048    1
7049    5
Name: status_published, Length: 7050, dtype: int32

In [100]:
fb['status_published'].dt.dayofyear  # giorno dell'anno (1-365/366)

0       112
1       111
2       111
3       111
4       108
       ...
7045    268
7046    267
7047    265
7048    264
7049    254
Name: status_published, Length: 7050, dtype: int32

In [101]:
# estrazione post del 2012
posts_2012 = fb[fb['status_published'].dt.year == 2012]
print(posts_2012)

                            status_id status_type    status_published  \
2046  246675545449582_303160673134402       photo 2012-12-23 03:11:00
2047  246675545449582_302341609882975       photo 2012-12-21 06:02:00
2048  246675545449582_299212316862571       photo 2012-12-13 11:36:00
2049  246675545449582_290159194434550       photo 2012-11-18 09:50:00
2050  246675545449582_290154177768385       photo 2012-11-18 09:16:00
...                               ...         ...                 ...
2630  246675545449582_246688625448274       photo 2012-07-15 03:54:00
2631  246675545449582_246686478781822       photo 2012-07-15 03:42:00
2632  246675545449582_246684432115360       photo 2012-07-15 03:32:00
2633  246675545449582_246678538782616       photo 2012-07-15 02:58:00
2634  246675545449582_246677465449390       photo 2012-07-15 02:51:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2046              0             0           0          0          0         0
2047              4             1           0          4          0         0
2048              3             0           0          3          0         0
2049              5             1           1          5          0         0
2050              2             0           0          2          0         0
...             ...           ...         ...        ...        ...       ...
2630             19            17           3         19          0         0
2631             12             3           0         12          0         0
2632             14             1           0         14          0         0
2633             14             7           0         14          0         0
2634             15             3           0         15          0         0

      num_hahas  num_sads  num_angrys  Anno  Mese  Giorno  GiornoSettimana  \
2046          0         0           0  2012    12      23                6
2047          0         0           0  2012    12      21                4
2048          0         0           0  2012    12      13                3
2049          0         0           0  2012    11      18                6
2050          0         0           0  2012    11      18                6
...         ...       ...         ...   ...   ...     ...              ...
2630          0         0           0  2012     7      15                6
2631          0         0           0  2012     7      15                6
2632          0         0           0  2012     7      15                6
2633          0         0           0  2012     7      15                6
2634          0         0           0  2012     7      15                6

      GiornoAnno
2046         358
2047         356
2048         348
2049         323
2050         323
...          ...
2630         197
2631         197
2632         197
2633         197
2634         197

[589 rows x 17 columns]

In [102]:
# estrazione post 2018
posts_maggio2018 = fb[
    (fb['status_published'].dt.year == 2018) &
    (fb['status_published'].dt.month == 5)
]
print(posts_maggio2018)

                              status_id status_type    status_published  \
2690    134115277150304_264554297439734       photo 2018-05-31 12:17:00
2691    134115277150304_264493694112461       photo 2018-05-31 08:37:00
2692    134115277150304_264416247453539       photo 2018-05-31 03:12:00
2693    134115277150304_264168277478336       photo 2018-05-30 08:46:00
2694    134115277150304_264160757479088       photo 2018-05-30 08:24:00
...                                 ...         ...                 ...
6339  1050855161656896_1615666458509094        link 2018-05-04 01:27:00
6340  1050855161656896_1614717551937318       photo 2018-05-03 01:15:00
6341  1050855161656896_1614187798656960       photo 2018-05-02 12:17:00
6342  1050855161656896_1613063202102753       video 2018-05-01 08:38:00
6343  1050855161656896_1612778858797854       photo 2018-05-01 01:18:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2690             11             0           0         10          0         1
2691             56             4           2         55          1         0
2692             72            13           1         69          3         0
2693             10             0           0         10          0         0
2694             56             3          12         54          2         0
...             ...           ...         ...        ...        ...       ...
6339             12             7           7         12          0         0
6340             63            21           1         62          1         0
6341            218           105         153        212          2         4
6342            246          2373         475        108        130         5
6343             34             5           0         33          1         0

      num_hahas  num_sads  num_angrys  Anno  Mese  Giorno  GiornoSettimana  \
2690          0         0           0  2018     5      31                3
2691          0         0           0  2018     5      31                3
2692          0         0           0  2018     5      31                3
2693          0         0           0  2018     5      30                2
2694          0         0           0  2018     5      30                2
...         ...       ...         ...   ...   ...     ...              ...
6339          0         0           0  2018     5       4                4
6340          0         0           0  2018     5       3                3
6341          0         0           0  2018     5       2                2
6342          2         1           0  2018     5       1                1
6343          0         0           0  2018     5       1                1

      GiornoAnno
2690         151
2691         151
2692         151
2693         150
2694         150
...          ...
6339         124
6340         123
6341         122
6342         121
6343         121

[595 rows x 17 columns]

In [103]:
#⃣  Confrontiamo il numero di post nei weekend vs resto della settimana
weekend_posts = fb[fb['status_published'].dt.dayofweek >= 5]  # sabato e domenica
weekday_posts = fb[fb['status_published'].dt.dayofweek < 5]

print("Post nei weekend:", len(weekend_posts))
print("Post nei giorni feriali:", len(weekday_posts))

Post nei weekend: 2041
Post nei giorni feriali: 5009

In [104]:
# Raggruppa per anno e calcola min e max della data
first_last_post = fb.groupby(fb['status_published'].dt.year)['status_published'].agg(['min', 'max'])
print(first_last_post)

                                 min                 max
status_published
2012             2012-07-15 02:51:00 2012-12-23 03:11:00
2013             2013-01-02 02:23:00 2013-12-31 23:38:00
2014             2014-01-05 09:23:00 2014-12-10 07:42:00
2015             2015-01-02 03:41:00 2015-12-31 08:20:00
2016             2016-01-03 04:23:00 2016-12-31 05:13:00
2017             2017-01-02 08:25:00 2017-12-31 22:15:00
2018             2018-01-01 01:39:00 2018-06-13 01:12:00

In [106]:
# Quanti tipi diversi
print("Tipi di post:", fb['status_type'].nunique())

# Numero di post per ogni tipo
print(fb['status_type'].value_counts())

Tipi di post: 4
status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

In [115]:
# ESERCIZIO 5
import pandas as pd
pk = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\beginner_datasets\pokemon.csv")
pk.head() # ottengo un'anteprima delle prime 5 righe

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [116]:
# Conta i valori nulli per colonna
null_counts = pk.isnull().sum()
print(null_counts)

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [117]:
pk['Type 2'] = pk['Type 2'].fillna('None')

In [ ]:
# oppure
# Elimina tutte le righe con almeno un valore nullo
pk_clean = pk.dropna()

# Controllo
print(pk_clean.isnull().sum())

In [118]:
# ESERCIZIO 6
import pandas as pd
au = pd.read_csv(r"C:\Users\fortu\OneDrive\Documenti\file\beginner_datasets\automobile.csv")
au.head() # ottengo un'anteprima delle prime 5 righe

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [121]:
# Conta dei valori nulli per colonna
null_counts = au.isnull().sum()
print(null_counts)

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [122]:
rows_null_doors = au[au['num-of-doors'].isnull()]
print(rows_null_doors)

    symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
26          1              148.0  dodge       gas      turbo          NaN
60          0                NaN  mazda    diesel        std          NaN

   body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
26      sedan          fwd           front        93.7  ...           98
60      sedan          fwd           front        98.8  ...          122

    fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
26         mpfi  3.03    3.39               7.6        102      5500       24
60          idi  3.39    3.39              22.7         64      4650       36

   highway-mpg  price
26          30   8558
60          42  10795

[2 rows x 26 columns]

In [123]:
# Calcolo della modalità
most_common_doors = au['num-of-doors'].mode()[0]

# Sostituzione dei valori nulli
au['num-of-doors'] = au['num-of-doors'].fillna(most_common_doors)

In [127]:
# esercizio 7
import numpy as np
import pandas as pd 
temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
                     "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})

In [128]:
temp['Temperature'] = temp['Temperature'].interpolate()

print(temp)

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3         19.5
4        4         21.0
5        5         20.0
6        6         20.0
7        7         20.5
8        8         21.0
9        9         23.0
10      10         23.0
11      11         23.0
12      12         24.0

In [130]:
import os
import pandas as pd

# Cartella dei dataset
folder_path = r"C:\Users\fortu\OneDrive\Documenti\file\beginner_datasets"

# Lista per memorizzare i file con valori nulli
files_with_nulls = []

# Ciclo su tutti i file nella cartella
for file_name in os.listdir(folder_path):
    
    # Consideriamo solo i file .csv
    if file_name.endswith(".csv"):
        file_path = os.path.join(folder_path, file_name)
        
        # Leggi il CSV in un DataFrame
        df = pd.read_csv(file_path)
        
        # Conta i valori nulli per colonna e poi somma tutto
        total_nulls = df.isna().sum().sum()
        
        # Se ci sono valori nulli, aggiungiamo il nome del file alla lista
        if total_nulls > 0:
            files_with_nulls.append(file_name)

# Stampiamo i file che contengono valori nulli
print("File CSV con valori nulli:", files_with_nulls)

File CSV con valori nulli: ['automobile.csv', 'elections.csv', 'france.csv', 'hepatitis.csv', 'house.csv', 'income.csv', 'mice.csv', 'nba.csv', 'pokemon.csv', 'population.csv', 'seeds.csv', 'traffic.csv', 'wikipedia.csv']